body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background: #333;
}
* {
	-webkit-transition: 0.1s ease all;
	-moz-transition: 0.1s ease all;
	-o-transition: 0.1s ease all;
	transition: 0.1s ease all;
}
.container, .main-wrapper {
	position: relative;
	overflow: hidden;
	width: 85%;
	margin: 0 auto;
}
.main-wrapper {
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,.2);
	box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}
header.main-header {
	position: absolute;
	width: 100%;
	height: 60px;
	z-index: 1;
}
	header.main-header .logo-wrapper {
		position: fixed;
		top: 0;
		width: 115px;
		height: 120px;
		padding: 10px;
		background: #fff;
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
		box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	}
	header.main-header nav.main-nav {
		float: right;
		background: rgba(0,0,0,.8);
	}

nav.main-nav ul, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
	nav.main-nav ul li {
		display: inline-block;
		color: #fff;
		height: 100%;
		line-height: 60px;
		padding: 0px 20px;
	}
	nav.main-nav ul li:hover {
		-webkit-box-shadow: inset 0px -80px 0px #00a0ff;
		-moz-box-shadow: inset 0px -80px 0px #00a0ff;
		box-shadow: inset 0px -80px 0px #00a0ff;
	}
nav.main-nav .mobile-menu-btn {
	display: none;
	color: white;
	padding: 10px;
}
nav.main-nav .mobile-menu-btn:hover {
	-webkit-box-shadow: inset 0px -80px 0px #00a0ff;
	-moz-box-shadow: inset 0px -80px 0px #00a0ff;
	box-shadow: inset 0px -80px 0px #00a0ff;
}
	nav.main-nav .mobile-menu-btn .material-icons {
		font-size: 32px;
	}
.slideshow {
	position: relative;
	width: 100%;
	height: 480px;
	
}
	.slideshow .article-box {
		position: absolute;
		bottom: 0;
		right: 0;
		min-width: 120px;
		max-width: 380px;
		background: rgba(0,0,0,.8);
	}
		.slideshow .article-box .article-title, .slideshow .article-box .article-info, .slideshow .article-box .article-btn {
			padding: 10px 20px;
		}
		.slideshow .article-box .article-title {
			color: #00a0ff;
			font-size: 24px;
		}
		.slideshow .article-box .article-info {
			color: #fff;
			font-size: 16px;
		}
		.slideshow .article-box .article-btn {
			position: relative;
			color: #fff;
			font-size: 16px;
		}
		.slideshow .article-box .article-btn:hover {
			-webkit-box-shadow: inset 900px 0px 0px #00a0ff;
			-moz-box-shadow: inset 900px 0px 0px #00a0ff;
			box-shadow: inset 900px 0px 0px #00a0ff;
		}
			.article-btn i.material-icons {
				position: absolute;
				top: 9;
				right: 0;
				margin-right: 20px;
			}
	.slideshow .controls {
		color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
	}
		.slideshow .controls .prev, .slideshow .controls .next {
			float: left;
			padding: 10px;
			background: rgba(0,0,0,.8);
		}
		.slideshow .controls .prev:hover, .slideshow .controls .next:hover {
			-webkit-box-shadow: inset 0px -44px 0px #00a0ff;
			-moz-box-shadow: inset 0px -44px 0px #00a0ff;
			box-shadow: inset 0px -44px 0px #00a0ff;
		}
.content {
	position: relative;
	overflow: hidden;
	width: 100%;
}
	.content .news-column {
		position: relative;
		float: left;
		width: 66.87%;
		background: #eee;
		-webkit-box-shadow: 0px 0px 50px rgba(0,0,0,.1);
		-moz-box-shadow: 0px 0px 50px rgba(0,0,0,.1);
		box-shadow: 0px 0px 50px rgba(0,0,0,.1);
	}
	.content .sidebar-column {
		float: right;
		width: 33.33%;
		background: #ddd;
	}
	/* Work on this */
footer {
	width: 100%;
	background: #efefef;
}
	footer .footer-wrapper {
		overflow: hidden;
		padding: 20px 40px;
	}
	footer .footer-wrapper .footer-logo {
		float: left;
		display: inline-block;
		margin-right: 40px;
	}
		footer .footer-wrapper .footer-logo img {
			-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
			-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
			box-shadow: 0px 0px 10px rgba(0,0,0,.2);
		}
	footer .footer-wrapper .footer-links {
	}
		footer .footer-links .links-box {

		}
			footer .footer-links .links-box .links-head {
				color: #eee;
				font-size: 16px;
				font-weight: 700;
				margin-bottom: 10px;
			}
			footer .footer-links .links-box ul li {
			}

/*--- Mobile ---*/

@media only screen and (max-width: 640px) {
	.container, .main-wrapper {
		position: relative;
		width: 100%;
	}
	header.main-header .logo-wrapper {
		position: static;
		float: left;
	}
	header.main-header nav.main-nav {
		float: none;
		display: inline-block;
	}
	.slideshow .controls {
		display: none;
	}
}
@media only screen and (max-width: 450px) {
	header.main-header {
		position: fixed;
	}
	header.main-header nav.main-nav {
		float: right;
	}
	nav.main-nav {
		text-align: center;
	}
	nav.main-nav ul, ul {
		display: none;
	}
	nav.main-nav ul li {
		display: block;
	}
	nav.main-nav .mobile-menu-btn {
		display: block;
	}
	.slideshow .article-box {
		width: 100%;
		max-width: 100%;
	}
}